:root {
  /*
    colors by name
  */

  --color-black: #4d3a3f;
  --color-white: #fcfbfb;

  --color-neutral: #f3eff0;
  --color-neutral-2: #ece6e8;
  --color-neutral-3: #e2d8da;

  /*
    colors by function
  */

  --color-border: var(--color-neutral-3);

  /*
    colors by element
  */

  --color-body-background: var(--color-neutral);
  --color-body: var(--color-black);
}
