@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

:root {
  --font-family-monospace: 'Anonymous Pro', monospace;
  --font-family-text: 'PT Sans', sas-serif;
  --font-family-title: 'PT Sans Caption', sas-serif;

  --font-size-monospace: .875rem;
  --font-size-text: 1rem;

  --font-size-title-1: 3rem;
  --font-size-title-2: 2.5rem;
  --font-size-title-3: 2rem;
  --font-size-title-4: 1.5rem;
  --font-size-title-5: 1.25rem;
  --font-size-title-6: 1.125rem;

  --font-weight-monospace: 400;
  --font-weight-text: 400;
  --font-weight-title: 400;

  --line-height-text: 1.5;
  --line-height-title: 1.25;
}
