:root {
  /*
    colors by name
  */

  --color-black: #392b2e;
  --color-white: #fcfbfb;

  --color-neutral: #f3eff0;
  --color-neutral-2: #eae3e5;
  --color-neutral-3: #dfd5d7;

  /*
    colors by function
  */

  --color-border: var(--color-neutral-3);

  /*
    colors by element
  */

  --color-body-background: var(--color-neutral);
  --color-body: var(--color-black);
}
