/*
  display
*/

.layout.system header {
  background: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  padding: 2rem;
}

.layout.system main {
  background: var(--color-neutral);
  padding: 2rem;
}

.layout.system nav {
  background: var(--color-neutral-2);
  padding: 2rem;
}

.layout.system nav a {
  display: block;
  margin: 0 -2rem 0.5rem;
  padding: 0.25rem 2rem;
}
.layout.system nav a:hover { background: var(--color-neutral-3); }
.layout.system nav a.active { font-weight: bold; }

/*
  grid
*/

.layout.system {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main';
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr;
}

.layout.system header { grid-area: header; }
.layout.system nav { grid-area: nav; }
.layout.system main { grid-area: main; }

/*
  colors
*/

.layout.system .color {
  align-items: center;
  padding: 1.5rem 2rem;
}

.layout.system .color.apricot { background: var(--color-apricot); }
.layout.system .color.black { background: var(--color-black); }
.layout.system .color.keppel { background: var(--color-keppel); }
.layout.system .color.neutral { background: var(--color-neutral); }
.layout.system .color.neutral-2 { background: var(--color-neutral-2); }
.layout.system .color.neutral-3 { background: var(--color-neutral-3); }
.layout.system .color.primary { background: var(--color-primary); }
.layout.system .color.primary-2 { background: var(--color-primary-2); }
.layout.system .color.rose { background: var(--color-rose); }
.layout.system .color.shadow { background: var(--color-shadow); }
.layout.system .color.white { background: var(--color-white); }

.layout.system .color.black,
.layout.system .color.keppel,
.layout.system .color.primary,
.layout.system .color.primary-2,
.layout.system .color.rose,
.layout.system .color.shadow {
  color: var(--color-white);
}

.layout.system .color.neutral,
.layout.system .color.neutral-2,
.layout.system .color.white {
  border: 1px solid var(--color-border);
  margin: -1px 0 0 -1px;
}
